# Eclipse generated
.project
.classpath
.settings/
# .factorypath
# */.gitignore
build.xml
bin/
nbproject/
# workingsets.xml
.externalToolBuilders/

# # Python bytecode
# *.pyc

# # Checkstyle generated
# checkstyle-timestamps/
# checkstyleOutput.txt

# # Libraries
# lib/checkstyle-6.11.2-all.jar